<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "PowDemo · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul class="row">
            <%= if Pow.Plug.current_user(@conn) do %>
              <li class="column"><%= link "Logout", to: Routes.pow_session_path(@conn, :delete), method: :delete%></li>
              <li class="column"><%= link "Super Secret", to: Routes.secure_path(@conn, :index)%></li>
              <li class="column"><%= link "Edit", to: Routes.pow_registration_path(@conn, :edit)%></li>
            <% else %>
              <li class="column"><%= link "Login", to: Routes.pow_session_path(@conn, :new)%></li>
              <li class="column"><%= link "Registration", to: Routes.pow_registration_path(@conn, :new)%></li>
            <% end %>
          </ul>
        </nav>
        <a href="/" class="phx-logo">
          <img src='<%= Routes.static_path(@conn, "/images/pow.svg") %>' height="50px" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
