/* This file is for your main application css. */

:root {
    --blue-color: #2196F3;
    --red-color: #F44336;
    --green-color: #4CAF50;
    --purple-color: #9C27B0;
    --pink-color: #E91E63;
    --orange-color: #FF9800;
    --dark-purple-color: #673AB7;
    --dark-blue-color: #3F51B5;
    --dark-orange-color: #FF5722;
    --cyan-color: #00BCD4;
    --teal-color: #009688;
    --lime-color: #CDDC39;
    --yellow-color: #FFEB3B;
    --amber-color: #FFC107;
    --grey-color: #9E9E9E;
    --brown-color: #795548;
    --blue-grey-color: #607D8B;
    --light-blue-color: #03A9F4;
    --light-green-color: #8BC34A;
    --primary-color: var(--purple-color);
    --socondary-color: brown;
    --tertiary-color: brown;
}

@import "./phoenix.css";