<div id="home-page">
  <section class="phx-hero">
    <h1>Welcome to Evan's Pow Demo</h1>
    <p>A robust, modular and extendable<div class="">user management solution.</div></p>
  </section>

  <section class="row">

  </section>
</div>
